//Global styles

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}

.text-transparent {
  color: $text-transparent;
}

.h-100 {
  min-height: calc(100vh - #{$header-height-mobile} - #{$footer-height-mobile});
  @include desktop {
    min-height: calc(100vh - #{$header-height-desktop} - #{$footer-height-desktop});
  }
}

.w-lg-100 {
  @include desktop {
    width: 100% !important;
  }
}

.w-lg-75 {
  @include desktop {
    width: 75% !important;
  }
}

.w-lg-50 {
  @include desktop {
    width: 50% !important;
  }
}

.w-lg-40 {
  @include desktop {
    width: 40% !important;
  }
}

.w-lg-25 {
  @include desktop {
    width: 25% !important;
  }
}

h1 {
  font-size: 30px;
  @include desktop {
    font-size: 36px;
  }  
}

.active {
  font-weight: 500;
}

hr {
  color: $dark;
  opacity: 1;
}

//Header

header {
  min-height: $header-height-mobile;
  @include desktop {
    min-height: $header-height-desktop;
  }
  .navbar-brand .fs-10 {
    @include desktop {
      font-size: 20px !important;
    }
  }
  .logo {
    height: 25px;
    width: 25px;
    @include desktop {
      height: 50px;
      width: 50px;
    }
  }
  .logo svg{
    height: 13px;
    width: 17px;
    @include desktop {
      height: 25px;
      width: 32px;
    }
  }

  .navbar-toggler {
    border: none;
  }

  .nav-link {
    @include desktop {
      padding: 0;
    }
  }

  .nav-link svg {
    height: 14px;
    width: auto;
  }

  .collapsing, .show {
    ul {
      border-left: none !important;
    }
    li {
      margin-left: 0 !important;
    }
  }
}

//Home page
#homepage{
  h2 {
    width: fit-content;
    @include desktop {
      font-size: 32px !important;
    }
  }

  .first-screen {
    @include desktop {
      max-width: 880px;
    }
    img {
      @include desktop {
        height: 540px;
        object-fit: cover
      }
    }
  }

  .instructions .card {
    height: 140px;
  }

  .description {
    @include desktop {
      font-size: 16px !important;
    }
  }

  .card-text {
    font-size: 14px !important;
  }

  .icon-heart {
    width: fit-content;
    @include desktop {
      position: absolute;
      right: -60px;
      bottom: -70px;
    }
  }

  .values img {
    @include desktop {
      height: 230px;
    }
  }

  .values p {
    @include desktop {
      font-size: 16px !important;
    }

    &:last-of-type {
      font-size: 12px !important;
    }
  
  }

}

//Books table

.books-table {
  .card {
    border-radius: 0 0 20px 20px !important;
  }

  .card-img-top {
    border-radius: 0 !important;
  }
  
  .card-title {
    @include mobile-m {
      font-size: 14px !important;
    }
    @include desktop-xl {
      font-size: 16px !important;
    }
  }

  .card-text {
    @include desktop {
      font-size: 10px !important;
    }
  }

  .availability {
    top: 15px;
    right: 12px;
    background-color: #C56D6D;
    border-radius: 30px;
  }
}

//All books 
#all-books, #homepage {
  .search {    
    height: 50px;
    svg {
      width: 18px;
      height: auto;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;
    }
    input::placeholder {
      color: $text-transparent;
    }
    @include desktop {
      width: 322px;
    }
  }

  .books-container {
    @include desktop {
      border-top: solid 1px #000;
    }
  }
}

//Book details
#book-details {
  .book-pic img {
    @include desktop {
      height: 100%;
      object-fit: cover;
    }
  }

  hr {
    width: 27px;
  }

  .userinfo {
    border-radius: 25px;
    width: fit-content;

  }

  .userpic {
    height: 50px;
    width: 50px;
  }
}

//Profile
#profile {
  .rounded {
    border-radius: 20px!important;
  }

  .userinfo {
    .imgWrap {
      height: 135px;
      width: 135px;
   }
    img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
   }
  }

  .book-info {
    height: 250px;
    @include desktop {
      height: auto;
    }
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
    &:last-of-type {
      @include desktop {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }
    .availability {
      width: fit-content;
      border-radius: 30px;
    }
  }

  .login-info {
    input {
      height: 50px;
    }
  }

  .private-profile .userinfo,
  .private-profile .login-info {
    height: 510px;
  }

  .errors {
    top: 220px;
  }

  .private-profile .book-info {
    height: 325px;
  }

  .private-profile .book-info .col {
    @include desktop {
      padding-right: 50px;
    }
  }

  .delete-link {
    color: #CB2D2D;
  }
}

//Login/Signup page
.login-page {
  form {
    max-width: 325px;
  }
  input {
    height: 50px;
  }
}

//Modify a book

.modify-book {
  .rounded {
    border-radius: 20px!important;
  };

  img {
    object-fit: cover !important;
    max-width: 100%;
  }

  input, select, option {
    height: 50px;
  }

  textarea {
    height: 435px;
  }

  .photo-label {
    @include desktop {
      font-size: 14px !important;   
    }
  }

  .errors {
    top: 5px;
  }
}

//Footer
footer {
  height: $footer-height-mobile;
  @include desktop {
    height: $footer-height-desktop;
  }
  .logo svg path {
    fill: $primary;
  }

  .logo svg {
    width: 22px;
    height: auto;
  }
}


