//Global styles

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}

.text-transparent {
  color: $text-transparent;
}

h1 {
  font-size: 30px;
  @include desktop {
    font-size: 36px;
  }  
}

.active {
  font-weight: 500;
}

//Header

header {
  .navbar-brand .fs-10 {
    @include desktop {
      font-size: 20px !important;
    }
  }
  .logo {
    height: 25px;
    width: 25px;
    @include desktop {
      height: 50px;
      width: 50px;
    }
  }
  .logo svg{
    height: 13px;
    width: 17px;
    @include desktop {
      height: 25px;
      width: 32px;
    }
  }

  .navbar-toggler {
    border: none;
  }

  .nav-link {
    @include desktop {
      padding: 0;
    }
  }

  .nav-link svg {
    height: 14px;
    width: auto;
  }

}

//All books 

.books-container {
  @include desktop {
    border-top: solid 1px #000;
  }
  .search {    
    height: 50px;
    svg {
      width: 18px;
      height: auto;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;
    }
    input::placeholder {
      color: $text-transparent;
    }
    @include desktop {
      width: 322px;
    }
  }

  .card-title {
    @include mobile-m {
      font-size: 14px !important;
    }
    @include desktop {
      font-size: 16px !important;
    }
  }

  .card-title {
    @include desktop {
      font-size: 14px !important;
    }
  }

  .card-text {
    @include desktop {
      font-size: 10px !important;
    }
  }

  .availability {
    top: 15px;
    right: 12px;
    background-color: #C56D6D;
    border-radius: 30px;
  }
}

//Footer
footer {
  .logo svg path {
    fill: $primary;
  }

  .logo svg {
    width: 22px;
    height: auto;
  }
}


