//Colors
$primary: #00AC66;
$light: #FAF9F7;
$dark: #F5F3EF;
$info: #EDF2F6;
$text-transparent: #A6A6A6;

//Link decoration
$link-decoration: none;
$link-color: #000;

//Spacers for margins and paddings
$spacer: 10px;
$spacers: (
  0: 0,
  5: $spacer * .5,
  10: $spacer,
  15: $spacer * 1.5,
  20: $spacer * 2,
  25: $spacer * 2.5,
  30: $spacer * 3,
  35: $spacer * 3.5,
  40: $spacer * 4,
  45: $spacer * 4.5,
  50: $spacer * 5,
  55: $spacer * 5.5,
  60: $spacer * 6,
  65: $spacer * 6.5,
  70: $spacer * 7,
  75: $spacer * 7.5,
  80: $spacer * 8,
  85: $spacer * 8.5,
  90: $spacer * 9,
  95: $spacer * 9.5,
  100: $spacer * 10,
  115: $spacer * 11.5,
  130: $spacer * 13,
  150: $spacer * 15,
  200: $spacer * 20,
);

//Fonts and Typography
$font-primary: "Playfair Display", serif;
$font-secondary: "Inter", sans-serif;

$font-size-base: 1rem;

$font-sizes: (
  8: $font-size-base * .5, //8px
  10: $font-size-base * .625, //10px
  12: $font-size-base * .75, //12px
  14: $font-size-base * .875, //14px
  16: $font-size-base, //16px
  20: $font-size-base * 1.25, //20px
  24: $font-size-base * 1.5, //24px
  28: $font-size-base * 1.75, //28px
  30: $font-size-base * 1.875, //30px
  32: $font-size-base * 2, //32px
);

$h1-font-size: 30px;

//Navigation toggler styles
$navbar-toggler-focus-width: 1px;

//Container widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px,
  xxl: 1230px
);

//Header and footer heights
$header-height-mobile: 56px;
$header-height-desktop: 80px;
$footer-height-mobile: 185px;
$footer-height-desktop: 60px;

